{% extends "personal/header.html" %}

{% block content %}
<p2>Welcome to my website!</p2>
{% include "personal/includes/htmlsnippet.html" %}
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
<p>This is the second include!</p>
{% include "personal/includes/htmlsnippet.html" %}
{% endblock %}	